.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100%;
}

.home-container {
    display: flex;
    flex-direction: column;
}

.home-container__item:not(:last-child) {
    margin-bottom: 15px;
}
