.recipes {
  padding: 20px 10px;
  height: 100%;
}

.recipes-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 200px;
}

.recipes-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.recipes-header__button:not(:last-child) {
  margin-right: 10px;
}

.recipes-list {
  padding: 10px;
}

.recipes-list__item {
  cursor: pointer;
}

.recipes-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.recipes-list__item:hover {
  transition: box-shadow 0.1s linear;
  box-shadow: 0 0 2px #fff;
}

.recipes-list__item-lasttime {
  text-align: right;
}

.recipes-empty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}

.recipes-search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 15px;
}

.recipes-search__input {
  width: 100%;
}
