.recipes {
    padding: 20px 10px;
}

.recipes-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.recipes-list__item {
    cursor: pointer;
}

.recipes-list__item:not(:last-child) {
    margin-bottom: 10px;
}

.recipes-list__item:hover {
    transition: box-shadow 0.1s linear;
    box-shadow: 0 0 2px #fff;
}
